



<div class="container text-center h-auto ">
    <div class="row ">
        <div class="col-6  d-flex justify-content-center align-items-center">

            <a class="nav-link text-secondary" asp-area="" asp-controller="Admin" asp-action="TeacherList">Teacher Manager</a>

        </div>

        <div class="col-6 d-flex justify-content-center align-items-center">

            <a class="nav-link text-secondary" asp-area="" asp-controller="Admin" asp-action="StudentList">Student Manager</a>

        </div>

        <div class="row">

            <div class="col bg-info  d-flex justify-content-center align-items-center">

                @*<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="BranchList">Go to Branch Panel</a>*@

            </div>

            <div class="col bg-info  d-flex justify-content-center align-items-center">

                @*<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="MessageList">Go to Message Panel  </a>*@

            </div>

        </div>


    </div>

</div>






